#nav-container {
    ul {
        height: 100%;

        @include desk {
            display: flex;
            justify-content: flex-end;
        }

        li {
            margin-bottom: 20px;
            // border: 1px solid red;
            text-align: right;

            @include desk {
                align-items: center;
                border-right: 2px solid $darkTeal;
                display: flex;
                margin-bottom: 0px;
            }

            a:link,
            a:visited {
                color: $white;
                font-family: 'Comfortaa', cursive;
                padding: 0 20px;
                text-decoration: none;
                transition: 0.25s;
                @include desk {
                    color: $black;
                }

                &:hover,
                &:active {
                    color: $red;
                }
            }
        }
        li:last-child {
            border: none;
        }
    }
}