#careers{ 

    color: $tealDark;

    @include tab{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". careers .";
    }

    @include hd{ 
        grid-template-columns: auto 1000px auto;
    }

    ul{ 
        display: grid; 
        margin: 16px 0px 24px;
        gap: 16px;

        @include tab{
            grid-template-columns: 50% auto;
            grid-area: careers;
        }

        @include tab{
            margin: 24px 0px 40px;
        }

        @include desk{
            margin: 24px 0px 60px;
        }

        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". careers-content .";
            background-color: $indigo;

            >div{
                grid-area: careers-content;
                display: flex;
                
                section{
                    display: grid;

                    article{
                        
                        h1{
                            font-weight: 400;
                            font-size: rem-calc(22);
                            margin: 30px 0px 10px;
        
                            @include tab{
                                font-size: rem-calc(35);
                                margin: 30px 0px 16px;
                            }
                            
                            @include desk{
                                font-weight: 300;
                                margin: 50px 0px 10px;
                            }
        
                            @include hd{
                                font-weight: 200;
                            }
                        }
                    }

                    .career-button{
                        display: flex;
                        align-items: flex-end;
                        margin-left: 0;
                        margin-bottom: 24px;

                        @include desk{
                            margin-bottom: 20px;
                        }

                        button{
                            background-color: $red;
                            color: $tanLight;
                        }
                    }
                }

                aside{
                    margin-left: auto;

                    div{
                        background-position: top;
                        background-size: cover;
                        border: 4px $tanLight solid;
                        height: 85px;
                        width: 85px;
                        border-radius: 100%;
                        margin-right: auto;
                        margin-top: 16px;
                        margin-bottom: 16px;
    
                        @include tab{
                            height: 113px;
                            width: 113px;
                            margin-top: 24px;
                            margin-bottom: 24px;
                        }

                        @include desk{
                            margin-top: 16px;
                            margin-bottom: 16px;
                        }
                    }
                }


                #icon-left{
                    background-image: url("../img/Hero1/franchise.jpg");
                }

                #icon-right{
                    background-image: url("../img/Hero1/work.jpg");
                }
            }
        };
    }
    }