#careers{

    color: $tealDark;

    @include tab{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". careers .";
    }

    @include hd{ 
        grid-template-columns: auto 1000px auto;
    }

    ul{ 
        display: grid; 

        @include tab{
            grid-template-columns: 50% auto;
            grid-area: careers;
            gap: 24px;

        }

        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". careers-content .";
            background-color: $indigo;
            margin: 16px 0px;
            padding: 16px 0px;

            @include tab{
                margin: 24px 0px 40px;
                padding: 24px 0px;
            }

            @include desk{
                margin: 24px 0px 60px;
                padding: 16px 0px;
            }

            >div{
                grid-area: careers-content;
                display: flex;

                h1{
                    font-weight: 400;
                    font-size: rem-calc(22);

                    @include tab{
                        font-size: rem-calc(35);
                    }
                    
                    @include desk{
                        font-weight: 300;
                    }

                    @include hd{
                        font-weight: 200;
                    }
                }

                >div{
                    background-position: top;
                    background-size: cover;
                    border: 4px $tanLight solid;
                    height: 85px;
                    width: 85px;
                    border-radius: 100%;
                    margin-right: auto;

                    @include tab{
                        height: 113px;
                        width: 113px;
                    }
                } 

                #icon-left{
                    background-image: url("../img/Hero1/franchise.jpg");
                }

                #icon-right{
                    background-image: url("../img/Hero1/work.jpg");
                }

                button{
                    background-color: $red;
                    color: $tanLight;
                }
            }
        };
    }
    }