#careers{

    color: $tealDark;

    @include tab{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". careers .";
    }

    @include hd{ 
        grid-template-columns: auto 1000px auto;
    }

    ul{ 
        display: grid; 
        gap: 16px;

        @include tab{
            grid-template-columns: 50% auto;
            grid-area: careers;
            gap: 24px;

        }

        li{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". careers-content .";
            background-color: $indigo;

            >div{
                grid-area: careers-content;

                >div{
                    background-position: top;
                    background-size: cover;
                    border: 4px $tanLight solid;
                    height: 85px;
                    width: 85px;
                    border-radius: 100%;

                    @include tab{
                        height: 113px;
                        width: 113px;
                    }
                }

                #icon-left{
                    background-image: url("../img/Hero1/franchise.jpg");
                }

                #icon-right{
                    background-image: url("../img/Hero1/work.jpg");
                }

                button{
                    background-color: $red;
                    color: $tanLight;
                }
            }
        };
    }
    }