#hero2{

    @include desk{
        display: grid;
        grid-template-columns: auto 990px auto;
        grid-template-areas: ". hero2 .";
    }

   
    @include hd{
        grid-template-columns: auto 1200px auto;
    }

    ul{
        display: grid;
        grid-area: hero2;
        
        @include tab{
            grid-template-columns: 50% auto;
            grid-template-areas: "diner2 jukebox";
        }
    
        @include desk{
            grid-template-columns: 60% auto;
            grid-template-areas: "diner2 jukebox";
        }
    
        @include hd{
            grid-template-columns: 70% auto;
            grid-template-areas: "diner2 jukebox"
                                 "diner2 stools";
        }
        
        li{
            background-size: cover;
            background-position: center;
        }
    }

    #diner2{
        grid-area: diner2;
        background-image: url("Deploy/img/Hero2/hero2.jpg");
    }
    #jukebox{
        grid-area: jukebox;
        background-image: url("Deploy/img/Hero2/hero3.jpg");
    }
    #stools{
        display: none;
        @include hd{
            display: list-item;
            grid-area: stools;
        }
        background-image: url("Deploy/img/Hero2/aside.jpg");
    }
}