#hero1{

    img{
        object-fit: cover;
        width: 100%;
        display: block;
    }

    ul{

        @include tab{
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "box1 box2"; 
        }

        @include desk{
                display: grid; 
                grid-template-columns: 50% auto;
                grid-template-areas: "box1 box2";
        }

            li{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". boxes .";
                padding: 16px 0px;

                @include tab{
                    padding: 20px 0px;
                }

                @include desk{
                    padding: 16px 0px;
                }

                @include hd{
                    grid-template-columns: auto 480px 16px;
                }

                a{
                    grid-area: boxes;
                    text-decoration: none;
                    display: flex;
        
                    &:link, &:visited{
                        color: $tealDark;
                        transition: 0.25s;
                    }
                    
                    &:hover, &:active{
                        color: $tanLight;
                    }

                    div{

                    }

                    .details{
                        display: flex;
                        margin-left: auto;
                        align-items: center;
                        font-weight: 700;
                        font-size: rem-calc(18);
                        color: $tealDark;
                        
                        h4{
                            display: none;
                            margin-right: 7px;

                            @include desk{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        
        #box1{
            grid-area: box1;
            background-color: $redDark;

            a{
                div{
                    h3{
                        font-size: rem-calc (18);
                        font-weight: 700;
        
                        @include desk{
                            font-size: rem-calc(25);
                        }
                    }
        
                    h4{
                        font-size: rem-calc(16);
                        font-weight: 600;
        
                        @include tab{
                            font-size: rem-calc(14);
                        }
                        @include desk{
                            font-size: rem-calc(16);
                        }
                    }
                }
            }
           
        }
        #box2{
            grid-area: box2;
            background-color: $red;

            a{
                div{
                    h4{
                        font-size: rem-calc(16);
                        font-weight: 600;
        
                        span{
                            font-weight: 400;
                        }
                    }
                }
                }
            }
    }