#hero1{
    
    img{
        width: 100%
    }

    >ul{
        @include tab{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "box1 box2";
        }
        #box1{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". boxes .";
            grid-area: box1;

            @include hd{
                grid-template-columns: 230px auto 16px;
            }
            
            >a{
            grid-area: boxes;
            }
        }
        #box2{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". boxes .";
            grid-area: box2;

            @include hd{
                grid-template-columns: 16px auto 230px;
            }
            
            >a{
            grid-area: boxes;
            } 
        }
    }

    }
