#menu{

    color: $tealDark;

    @include tab{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". menu .";
    }

    @include hd{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". menuTitle .";
        grid-area: menuTitle;
        color: $goldenDark;
    }

    ul{
        display: grid;
        grid-area: menu;

        @include tab{
            grid-template-columns: repeat(4, 1fr);     
            grid-template-areas: "n1 n1 n2 n2"
                                 "n3 n3 n4 n4"
                                 ". n5 n5 .";
            gap: 16px;   
        }

        @include desk{
            grid-template-columns: repeat(6, 1fr);     
            grid-template-areas: "n1 n1 n2 n2 n3 n3"
                                 ". n4 n4 n5 n5 .";
            gap: 16px;   
        }

        li{
            >img{
                width: 100%
            }

            background-color: $tanDark;

            >section{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". menu-item .";
                
                >div{
                    grid-area: menu-item;

                    >button{
                        background-color: $red;
                        color: $tanLight;
                    }
                }
            }
        }

        #n1{
            @include tab{
                grid-area: n1;
            }
        }

        #n2{
            @include tab{
                grid-area: n2;
            }
        }

        #n3{
            @include tab{
                grid-area: n3;
            }
        }

        #n4{
            @include tab{
                grid-area: n4;
            }
        }

        #n5{
            @include tab{
                grid-area: n5;
            }
        }
    } 
    }