#menu{

    @include tab{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". menuTitle ."
                             ". menu .";
    }

    @include hd{
        grid-template-columns: auto 1000px auto;
    }

    h1{
        font-size: rem-calc(20px);
        font-weight: 200;
        color: $goldenDark;
        margin-left: 16px;
        margin-top: 19px;
        margin-bottom: 11px;

        @include tab{
            font-size: rem-calc(28px);
            margin-top: 27px;
            margin-bottom: 17px;
        }
        @include tab{
            font-size: rem-calc(35px);
        }
        @include tab{
            font-size: rem-calc(37px);
    }

    #menu-title{
        display: grid;
        grid-area: menuTitle;
        color: $goldenDark;
        }
    }

    #menu-items{
        display: grid;
        grid-area: menu; 
        color: $tealDark;
        margin-bottom: 24px;
    }

    ul{
        display: grid;

        h2{
            font-size: rem-calc(27);
            font-weight: 600;
            margin-top:10px;
            margin-bottom:40px;

            @include tab{
                margin-top:18px;
                margin-bottom:45px;
            }
        }

        p{
            font-size: rem-calc(16);
            font-weight: 400;
            margin-bottom: 10px;

            @include tab{
                margin-bottom: 20px;
            }
        }

        @include tab{
            grid-template-columns: repeat(4, 1fr);     
            grid-template-areas: "n1 n1 n2 n2"
                                 "n3 n3 n4 n4"
                                 ". n5 n5 .";
            gap: 16px;   
        }

        @include desk{
            grid-template-columns: repeat(6, 1fr);     
            grid-template-areas: "n1 n1 n2 n2 n3 n3"
                                 ". n4 n4 n5 n5 .";
        }

        li{
            >img{
                width: 100%
            }

            background-color: $tanDark;

            >section{
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". menu-item .";
                
                >div{
                    grid-area: menu-item;

                    >button{
                        background-color: $red;
                        color: $tanLight;
                        margin-bottom: 16px;

                        @include tab{
                            margin-bottom: 24px;
                        }
                    }
                }
            }
        }

        #n1{
            @include tab{
                grid-area: n1;
            }
        }

        #n2{
            @include tab{
                grid-area: n2;
            }
        }

        #n3{
            @include tab{
                grid-area: n3;
            }
        }

        #n4{
            @include tab{
                grid-area: n4;
            }
        }

        #n5{
            @include tab{
                grid-area: n5;
            }
        }
    }
}