#search{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    background-color: $indigoLight;

    @include hd{
        grid-template-columns: auto 1000px auto;
    }

    >div{
        grid-area: search;
        margin: 24px;

        @include desk{
            margin: 28px;
        }

        >form{

            input{
                color: $goldenDark;
                font-weight: 200;
                font-size: rem-calc(20);

                @include tab{
                    font-size: rem-calc(30);
                }

                @include desk{
                    font-size: rem-calc(35);
                }

                &::placeholder {
                    color: $goldenDark;
                }

                &:-ms-input-placeholder {
                    color: $goldenDark;
                }

                &::-ms-input-placeholder {
                    color: $goldenDark;
                }
            }
            
            button{
                background-color: $red;
                i{
                    color: $tanLight;
                }
            }
        }
    }
}