footer{

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    color: $tanLight;
    background-color: $tealDark;

    @include hd{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: footer;

        @include tab{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: "locations search"
                                 "locations media";
        }
    
        @include desk{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "locations search media";
        }
    }

    #locations{
        grid-area: locations;

        li{
            i{
                color: $red;
            }
        }
    }

    #search{
        grid-area: search;
        background: $tealDark;

        >div{
            >form{

                >button{
                    background-color: $red;
                }
            }
        }
    }

    #media{
        grid-area: media;
    }
}