header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    background-color: $tealDark;

    >div{
        display: grid;
        grid-area: header;


        @include desk{
            grid-template-areas: "nav nav";
            grid-template-columns: 20% auto;
        }

        }
    }