header{

    background-color: $tealDark;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div{

        display: grid;
        grid-template-areas: 
        "logo burger"
        "nav nav";
        grid-template-columns: 20% auto;

        @include desk{
            grid-template-areas: "logo nav";
            grid-template-columns: 20% auto;
        }

       #logo-container{
           grid-area: logo;
           margin-left: 16px;
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include desk{
                display: none !important;
            }

            i {
                margin-left: auto;
                cursor: pointer;
                font-size: rem-calc(30);
                color: $red;
            }
        }

        #nav-container {
            background-color: $tanDark;
            grid-area: nav;
            display: none;
            padding: 20px 10px 10px;

            @include desk{
                background-color: $tealDark;
                display: block !important;
            }
        }
    }
}