figure {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

header {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". header .";
  background-color: #141719;
}
header > div {
  grid-area: header;
}

footer {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". footer .";
  color: #FFFAF3;
  background-color: #141719;
}
@media (min-width: 1440px) {
  footer {
    grid-template-columns: auto 1200px auto;
  }
}
footer > div {
  grid-area: footer;
}
@media (min-width: 768px) {
  footer > div {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "locations search" "locations media";
  }
}
@media (min-width: 1024px) {
  footer > div {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "locations search media";
  }
}
footer #locations {
  grid-area: locations;
}
footer #locations li i {
  color: #DD2D4A;
}
footer #search {
  grid-area: search;
  background: #141719;
}
footer #search > div > form > button {
  background-color: #DD2D4A;
}
footer #media {
  grid-area: media;
}

#search {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". search .";
  background-color: #EAEAFE;
}
@media (min-width: 1440px) {
  #search {
    grid-template-columns: auto 1200px auto;
  }
}
#search > div {
  grid-area: search;
}
#search > div form {
  color: #8E7857;
}
#search > div form button {
  background-color: #DD2D4A;
}
#search > div form button i {
  color: #FFFAF3;
}

#hero1 {
  background-image: url("Delpoy/img/Hero1/hero1.jpg");
  background-position: center;
  background-size: cover;
  height: 252px;
  color: #141719;
}
@media (min-width: 768px) {
  #hero1 {
    height: 423px;
  }
}
@media (min-width: 1024px) {
  #hero1 {
    height: 560px;
  }
}
@media (min-width: 1440px) {
  #hero1 {
    height: 875px;
  }
}
#hero1 img {
  width: 100%;
}
@media (min-width: 768px) {
  #hero1 ul {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas: "box1 box2";
  }
}
@media (min-width: 1024px) {
  #hero1 ul {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "box1 box2";
  }
}
#hero1 ul li {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". boxes .";
}
@media (min-width: 1440px) {
  #hero1 ul li {
    grid-template-columns: auto 480px 16px;
  }
}
#hero1 ul li a {
  grid-area: boxes;
}
#hero1 #box1 {
  grid-area: box1;
  background-color: #A02035;
}
#hero1 #box2 {
  grid-area: box2;
  background-color: #DD2D4A;
}
@media (min-width: 1440px) {
  #hero1 #box2 {
    grid-template-columns: 16px 480px auto;
  }
}

@media (min-width: 1440px) {
  #careers {
    grid-template-columns: auto 1000px auto;
    grid-template-areas: ". careers .";
    gap: 16px;
    color: #141719;
  }
}
#careers ul {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "franchise" "work";
  gap: 16px;
}
@media (min-width: 768px) {
  #careers ul {
    grid-template-columns: 50% auto;
    grid-template-areas: "franchise work";
    gap: 16px;
  }
}
#careers ul li {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". careers .";
}
#careers ul li div {
  grid-area: careers;
  background-color: #AFAFD5;
}
#careers ul li div button {
  background-color: #DD2D4A;
  color: #FFFAF3;
}
#careers ul #franchise {
  grid-area: franchise;
}
#careers ul #work {
  grid-area: work;
}

@media (min-width: 1024px) {
  #hero2 {
    display: grid;
    grid-template-columns: auto 990px auto;
    grid-template-areas: ". hero2 .";
  }
}
@media (min-width: 1440px) {
  #hero2 {
    grid-template-columns: auto 1200px auto;
  }
}
#hero2 ul {
  display: grid;
  grid-area: hero2;
}
@media (min-width: 768px) {
  #hero2 ul {
    grid-template-columns: 50% auto;
    grid-template-areas: "diner2 jukebox";
  }
}
@media (min-width: 1024px) {
  #hero2 ul {
    grid-template-columns: 60% auto;
    grid-template-areas: "diner2 jukebox";
  }
}
@media (min-width: 1440px) {
  #hero2 ul {
    grid-template-columns: 70% auto;
    grid-template-areas: "diner2 jukebox" "diner2 stools";
  }
}
#hero2 ul li {
  background-size: cover;
  background-position: center;
}
#hero2 #diner2 {
  grid-area: diner2;
  background-image: url("Deploy/img/Hero2/hero2.jpg");
}
#hero2 #jukebox {
  grid-area: jukebox;
  background-image: url("Deploy/img/Hero2/hero3.jpg");
}
#hero2 #stools {
  display: none;
  background-image: url("Deploy/img/Hero2/aside.jpg");
}
@media (min-width: 1440px) {
  #hero2 #stools {
    display: list-item;
    grid-area: stools;
  }
}

#menu {
  color: #141719;
}
@media (min-width: 768px) {
  #menu {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". menu .";
  }
}
@media (min-width: 1440px) {
  #menu {
    grid-template-columns: auto 1200px auto;
  }
}
#menu > div {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". menuTitle .";
  grid-area: menuTitle;
  color: #8E7857;
}
#menu ul {
  display: grid;
  grid-area: menu;
}
@media (min-width: 768px) {
  #menu ul {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "n1 n1 n2 n2" "n3 n3 n4 n4" ". n5 n5 .";
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  #menu ul {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "n1 n1 n2 n2 n3 n3" ". n4 n4 n5 n5 .";
    gap: 16px;
  }
}
#menu ul li {
  background-color: #E1DAD0;
}
#menu ul li > img {
  width: 100%;
}
#menu ul li > section {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". menu-item .";
}
#menu ul li > section > div {
  grid-area: menu-item;
}
#menu ul li > section > div > button {
  background-color: #DD2D4A;
  color: #FFFAF3;
}
@media (min-width: 768px) {
  #menu ul #n1 {
    grid-area: n1;
  }
}
@media (min-width: 768px) {
  #menu ul #n2 {
    grid-area: n2;
  }
}
@media (min-width: 768px) {
  #menu ul #n3 {
    grid-area: n3;
  }
}
@media (min-width: 768px) {
  #menu ul #n4 {
    grid-area: n4;
  }
}
@media (min-width: 768px) {
  #menu ul #n5 {
    grid-area: n5;
  }
}
