figure {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

header {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". header .";
}
header > div {
  grid-area: header;
}

footer {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". locations ." ". search ." ". media .";
}
@media (min-width: 768px) {
  footer {
    grid-template-columns: 50% auto;
    grid-template-areas: "locations search" "locations media";
  }
}
@media (min-width: 1024px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "locations search media";
  }
}
footer #locations {
  grid-area: locations;
}
footer #search {
  grid-area: search;
}
footer #media {
  grid-area: media;
}

#search {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". search .";
}
#search > div {
  grid-area: search;
}

#hero1 img {
  width: 100%;
}
@media (min-width: 768px) {
  #hero1 > ul {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "box1 box2";
  }
}
#hero1 > ul #box1 {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". boxes .";
  grid-area: box1;
}
@media (min-width: 1440px) {
  #hero1 > ul #box1 {
    grid-template-columns: 230px auto 16px;
  }
}
#hero1 > ul #box1 > a {
  grid-area: boxes;
}
#hero1 > ul #box2 {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". boxes .";
  grid-area: box2;
}
@media (min-width: 1440px) {
  #hero1 > ul #box2 {
    grid-template-columns: 16px auto 230px;
  }
}
#hero1 > ul #box2 > a {
  grid-area: boxes;
}

@media (min-width: 768px) {
  #careers > ul {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas: "franchise work";
    grid-gap: 16px;
  }
}
#careers > ul #franchise {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". careers .";
  grid-area: franchise;
}
#careers > ul #franchise div {
  grid-area: careers;
}
#careers > ul #work {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". careers .";
  grid-area: work;
}
#careers > ul #work div {
  grid-area: careers;
}

#hero2 {
  display: grid;
}
#hero2 #diner2 {
  grid-area: diner2;
  width: 100%;
}
#hero2 #jukebox {
  grid-area: jukebox;
  width: 100%;
}
#hero2 #stools {
  display: none;
  grid-area: stools;
}
@media (min-width: 1440px) {
  #hero2 #stools {
    display: list-item;
  }
}
@media (min-width: 768px) {
  #hero2 {
    grid-template-columns: 50% auto;
    grid-template-areas: "diner2 jukebox";
  }
}
@media (min-width: 1024px) {
  #hero2 {
    grid-template-columns: 60% auto;
    grid-template-areas: "diner2 jukebox";
  }
}
@media (min-width: 1440px) {
  #hero2 {
    grid-template-columns: 70% auto;
    grid-template-areas: "diner2 jukebox" "diner2 stools";
  }
}

#menu ul {
  display: grid;
}
@media (min-width: 768px) {
  #menu ul {
    grid-template-columns: 50% auto;
    grid-template-areas: "li li" "li li" "li .";
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  #menu ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "li li li" "li li .";
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  #menu ul {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "li li li" "li li .";
    gap: 16px;
  }
}
#menu ul li > img {
  width: 100%;
}
#menu ul li > section {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". menu-item .";
}
#menu ul li > section > div {
  grid-area: menu-item;
}
