// Screen Sizes

$screen-mob-min: 320px;

$screen-tab-min: 768px;

$screen-desk-min: 1024px;

$screen-hd-min: 1440px;

// Colors

$white: #fff;
$black: #000;
$tealDark: #141719;
$indigoLight: #EAEAFE;
$indigo: #AFAFD5;
$indigoDark: #7E7E9A;
$red: #DD2D4A;
$redDark: #A02035;
$tanLight: #FFFAF3;
$tanDark: #E1DAD0;
$goldenDark: #8E7857;